//section product

.product {
  position: relative;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
    height: 839px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    max-width: 1220px;
    margin: 0 auto;
    height: auto;
  }
}

.product__image {
  position: relative;
  top: -40px;

  @media (min-width: @tablet-width) {
    top: -83px;
  }

  @media (min-width: @desktop-width) {
    top: 15px;
    left: -47px;
  }
}

.product__slogan-wrapper,
.product__image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__slogan-wrapper {
  @media (min-width: @tablet-width) {
    align-items: flex-start;
  }
}

.product__slogan {
  @media (min-width: @tablet-width) {
    margin-left: 87px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 80px;
  }
}

.product__slogan-title {
  margin: 27px 0 25px 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    margin: 48px 0 41px 0;
    font-size: 60px;
    line-height: 60px;
    color: @basic-black;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-top: 95px;
  }
}

.product__slogan-slogan {
  margin: 0 0 25px 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    margin: 0 5px 51px 0;
    font-size: 20px;
    line-height: 20px;
    color: @basic-black;
  }
}

.product__button {
  display: block;
  width: 100%;
  text-align: center;
  padding: 11px 0;
  color: @basic-white;
  background-color: @basic-green;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  top: 275px;

  &:hover {
    background-color: @basic-green-2;
  }

  &:active span {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: fit-content;
    padding: 16px 26px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    top: 0;
    left: -4px;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    left: 0;
  }
}
